:host {
      display: block;
    }

    .mat-mdc-table {
      background: transparent;
    }

    .mat-mdc-header-cell {
      background-color: #f3f4f6;
      font-weight: 600;
    }

    .mat-mdc-progress-bar {
      border-radius: 4px;
    }

    ::ng-deep .specific .mat-mdc-form-field-infix {
        padding-left: 80px !important;
    }